#p{
font-family: 'Questrial', sans-serif;
font-size: 800%;
color: white;
}



p {
  color: red;
  font-size: 200%;
  font-family: 'Big Shoulders Display', cursive;
}
#img{
  border: 10px dashed black;
  padding: 20px; //establecemos el tamaño entre el borde y la imagen
  border-radius: 50%; //lo redondo de las esquinas
  box-shadow: 50px 50px 30px 30px silver;
  font-size: 100%;

}
.classy{
  color: black; //definimos una clase para el doc
  border: 6px dashed red;
  font-size: 150px;
  text-align: center;
  text-shadow: 5px 5px 2px red;

}

#imagen_fija{
  width: 8%;
  position: fixed;
  left: 0%;
  bottom: 0px;

}

#header{
  margin: auto;
  width: 10000px;
  font-family: 'Big Shoulders Display', cursive;
}

.boton.rojo {
    padding: 50px 50px;
    background-color: #f00; /* Color Rojo */
    color: #111;
    border-radius: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    text-decoration: underline;
    float: center;
}

.boton.rojo:hover {
    background-color: white!important;
    color: black!important;
    text-decoration: none;
}


*{
    /* A universal CSS reset */
    margin:0;
    padding:0;
}

body{
    font-size:14px;
    color:#666;
    background:#111 no-repeat;

    /* CSS3 Radial Gradients */
    background-image:-moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px);
    background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));

    font-family:Arial, Helvetica, sans-serif;
}


    /* Text properties */
    font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    letter-spacing:0.6px;
    white-space:nowrap;
    line-height:39px;

    /* CSS3 Transition: */
    -webkit-transition: 0.25s;

    /* Future proofing (these do not work yet): */
    -moz-transition: 0.25s;
    transition: 0.25s;
}

#container {
    margin: 0 auto;
}

p {
    text-align: center;
}

nav {
    margin: 30px auto;
    background-color: #111;
  box-shadow: 0px 3px 20px 3px #111;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: relative;
    text-align: center;
}

nav ul li {
    display:inline-block;
    background-color: #111;
    }

nav a {
    display:block;
    padding:0 20px;
    color:#FFF;
    font-size:16px;
    line-height: 60px;
    text-decoration:none;
}

nav a:hover {
    background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
